
.banneri {
    display:flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: rgb(228, 210, 254);
    outline: 2px;
    outline-color: black;
    outline-style: solid;
}
.logokuva {
    display: grid;
    position: relative;
    margin-right: 10px;
    
}
h1 {
    font-size: 28;
    font-weight: bold;
    font-family: Consolas;
    margin-right: 100px;
    margin-top: 30px;

}
.etusivu:hover {color:rgb(255, 73, 103)}
.etusivu {
    font-size: 28;
    font-weight: bold;
    font-family: Consolas;
    text-align: center;
    color: black;
    cursor: alias;
}
.tuotesivu:hover {color:rgb(255, 73, 103)}
.tuotesivu {
    font-size: 28;
    font-weight: bold;
    font-family: Consolas;
    text-align: center;
    color: black;
    cursor: alias;

    
}
.yhteyssivu:hover {color:rgb(255, 73, 103)}
.yhteyssivu {
    font-size: 28;
    font-weight: bold;
    font-family: Consolas;
    color: black;
    cursor: alias;
    white-space: nowrap;
    
}
h4 {
    font-size: 28;
    font-weight: 300;
    font-family: Consolas;
    position: absolute;
    text-align: center;
    top: 100px;
}
p {
    font-size: 20;
    font-weight: 100;
    font-family: Aptos;
    text-align: center;
    padding-right: auto;
}
.kuva {
    display: grid;
    place-items: center;
    position: relative;
    top: 2px;
    height: 20%;
    
}

.alasivu {
    position: relative;
    background-color: rgb(243, 234, 255);
    height: 800px;
    width: 100%;
    top: 100px;
    text-align: center;
    
}
h5 {
    font-size: 28;
    font-weight: 300;
    font-family: Consolas;
    position: absolute;
    text-align: left;
}
.tuote1 {
    display: inline-block;
    position: relative;
    top: 50px;
    left: -60px;
}
.tuote2 {
    display: inline-block;
    position: relative;
    top: 50px;
    right: -60px;
}
.teksti1 {
    font-size: 20;
    font-weight: 100;
    font-family: Aptos;
    font-weight: bold;
    position: relative;
    top: 40px;
    left: -260px;
}
.teksti2 {
    font-size: 20;
    font-weight: 100;
    font-family: Aptos;
    font-weight: bold;
    position: relative;
    top: -5px;
    right: -260px;
}
.tuote3 {
    display: inline-block;
    position: relative;
    top: 50px;
    left: -60px;
}
.tuote4 {
    display: inline-block;
    position: relative;
    top: 50px;
    right: -60px;
}
.teksti3 {
    font-size: 20;
    font-weight: 100;
    font-family: Aptos;
    font-weight: bold;
    position: relative;
    top: 40px;
    left: -260px;
}
.teksti4 {
    font-size: 20;
    font-weight: 100;
    font-family: Aptos;
    font-weight: bold;
    position: relative;
    top: -5px;
    right: -260px;
}
