.banneri {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: rgb(228, 210, 254);
  outline: 2px;
  outline-color: black;
  outline-style: solid;
}
.logokuva {
  display: grid;
  position: relative;
  margin-right: 10px;
}
h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: Consolas;
  margin-right: 100px;
  margin-top: 30px;
}
.etusivu:hover {
  color: rgb(255, 73, 103);
}
.etusivu {
  font-size: 26px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: black;
  cursor: alias;
}
.tuotesivu:hover {
  color: rgb(255, 73, 103);
}
.tuotesivu {
  font-size: 26px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: black;
  cursor: alias;
}
.yhteyssivu:hover {
  color: rgb(255, 73, 103);
}
.yhteyssivu {
  font-size: 26px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: black;
  cursor: alias;
  white-space: nowrap;
}
.bottom {
  height: 100%;
  width: 100%;
  display: block;
}
.element {
  width: 640px;
  height: 400px;
  display: block;
  margin-top: 10;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 20px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
h5 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
form {
  font-size: 20px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  text-align: center;
  max-width: 100%;
}
input[type="text"] {
  height: 200;
  text-align: left;
  padding: 10px 5px 220px 5px;
  font-size: 14;
}
input[type="submit"] {
  height: 30;
  font-family: "Roboto", sans-serif;
}
.kuva {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  image-resolution: 200x450;
  padding: 0px -100px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .banneri {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8%;
    background-color: rgb(228, 210, 254);
    outline: 2px;
    outline-color: black;
    outline-style: solid;
  }
  .logokuva {
    display: grid;
    position: relative;
    margin-right: 0%;
    max-height: 100%;
    max-width: 100%;
    margin-right: 310;
    width: 18%;
    height: 100%;
  }
  h1 {
    font-size: 12px;
    font-weight: bold;
    font-family: Consolas;
  }
  .etusivu:hover {
    color: rgb(255, 73, 103);
  }
  .etusivu {
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: black;
    cursor: alias;
    position: absolute;
    margin-right: 150;
    margin-top: 30;
  }
  .tuotesivu:hover {
    color: rgb(255, 73, 103);
  }
  .tuotesivu {
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: black;
    cursor: alias;
    position: absolute;
    margin-left: 150;
    margin-top: 30;
  }
  .yhteyssivu:hover {
    color: rgb(255, 73, 103);
  }
  .yhteyssivu {
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: black;
    cursor: alias;
    word-wrap: break-word;
    position: absolute;
    margin-left: 370;
    margin-top: 30;
  }
  .element {
    width: 95%;
    height: 35%;
    margin-top: 10;
    margin-left: 10;
    display: block;
  }
  h4 {
    font-family: "Roboto", sans-serif;
  }
  h5 {
    font-family: "Roboto", sans-serif;
    position: relative;
    display: block;
  }
  .kaikki {
    display: block;
  }
  .bottom {
    height: 100%;
    width: 100%;
    display: block;
  }
  p {
    font-size: 16px;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-right: auto;
    position: relative;
  }
  form {
    font-size: 20px;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  input[type="text"] {
    height: 200;
    width: 350;
    text-align: left;
    padding: 10px 5px 220px 5px;
    font-size: 14px;
  }
  input[type="submit"] {
    height: 30;
    font-family: "Roboto", sans-serif;
  }
}
