.banneri {
    display:flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: rgb(228, 210, 254);
    outline: 2px;
    outline-color: black;
    outline-style: solid;
}
.logokuva {
    display: grid;
    position: relative;
    margin-right: 10px;
    
}
h1 {
    font-size: 28;
    font-weight: bold;
    font-family: Consolas;
    margin-right: 100px;
    margin-top: 30px;

}
.etusivu:hover {color:rgb(255, 73, 103)}
.etusivu {
    font-size: 28;
    font-weight: bold;
    font-family: Consolas;
    text-align: center;
    color: black;
    cursor: alias;
}
.tuotesivu:hover {color:rgb(255, 73, 103)}
.tuotesivu {
    font-size: 28;
    font-weight: bold;
    font-family: Consolas;
    text-align: center;
    color: black;
    cursor: alias;

    
}
.yhteyssivu:hover {color:rgb(255, 73, 103)}
.yhteyssivu {
    font-size: 28;
    font-weight: bold;
    font-family: Consolas;
    color: black;
    cursor: alias;
    white-space: nowrap;
    
}
p {
    font-size: 20;
    font-weight: 100;
    font-family: Aptos;
    text-align: center;
}
h4 {
    font-size: 20;
    font-weight: bold;
    font-family: Aptos;
    text-align: center;
}
h5 {
    font-size: 30;
    font-weight: bold;
    font-family: Aptos;
    text-align: center;
}
form {
    font-size: 20;
    font-weight: 100;
    font-family: Aptos;
    text-align: center;
    
}
input[type=text] {
    height: 200;
    text-align: left;
    padding: 10px 5px 220px 5px;
    font-size: 14;
}
input[type=submit] {
    height: 30;
}
.kuva {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    image-resolution: 200x450;
    padding: 0px -100px;
    margin-top: 10px;
}
